* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

#top {
  background-color: #2b2b2b;
  color: white;
  padding: 35px;
  text-align: center;
  height: 20px;
  font-size: 25px;
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 1000px;
}

#top a {
  padding: 30px;
  color: white;
  text-decoration: none;
}

#tudo {
  text-align: center;
  padding-top: 90px;

}

.sesao {
  font-family: sans-serif;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

#primeiro {
  background: #C9B5B3;
}

#segundo {
  background: #948B8B;
}

#terceiro {
  background: #6B6666;
}

.grande {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.card {
  margin: 10px;
  background-color: #ffffff;
  width: 600px;
  height: 250%;
  margin-bottom: -200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  ;
  border-radius: 10px;
}

.texto {
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 20px;

}

.texto2{
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 20px
}

.buttons {
  font-family: sans-serif;
  width: 100px;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: white;
  padding: 13px 10px;
  margin-top: 30px;
  border: none;
}
#btn1{
  font-family: sans-serif;
  width: 100px;
  border-radius: 30px;
  background-color: #2b2b2b;
  color: white;
  padding: 20px 20px;
  margin-top: 20px;
  border: none;
}

#btn1:hover{
  background-color: #45a049;
  transition: 0.5s;
}
body{
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  justify-content: center;
}

.conteiner{
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 20px
}

h2{
  text-align: center;
  color: #333;
}

button{
  width: 78px;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover{
  background: #45a049;
}

input{
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

hr{
  margin: 30px 0;
}
